$color1: #231942;
$color2: #5e548e;
$color3: #9f86c0;
$color4: #be95c4;
$color5: #e0b1cb;

$color-light: #e9d6ec;

$box-shadow-button: 0 4px 8px 0 rgba($color1, 0.4), 0 6px 20px 0 rgba($color1, 0.17); 
$box-shadow-popup: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);